<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/main">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
     <!-- <a mat-list-item routerLink="/user">
        <mat-icon>people</mat-icon>
        <span>User Management</span>
      </a>  -->
      <a mat-list-item routerLink="/document">
        <mat-icon>description</mat-icon> <!-- Changed to 'description' for document icon -->
        <span>Document Management</span>
      </a>
      <a mat-list-item routerLink="/entity">
        <mat-icon>business</mat-icon>
        <span>Entity Management</span>
      </a>
      <a mat-list-item routerLink="/financial">
        <mat-icon>credit_card</mat-icon> <!-- Changed to 'credit_card' for financial icon -->
        <span>Financial Management</span>
      </a>
      <a mat-list-item routerLink="/supplier">
        <mat-icon>shopping_bag</mat-icon> <!-- Changed to 'shopping_bag' for supplier icon -->
        <span>Supplier Management</span>
      </a>
      <a mat-list-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <!-- <a mat-list-item routerLink="/link-delink">
        <mat-icon>sync-alt</mat-icon>
        <span>Link & Delink</span>
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Toolbar with menu button -->
    <mat-toolbar >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Financial Management</span>
    </mat-toolbar>

    <!-- Main content -->
<div class="header">
  <button class="back-btn"[routerLink]="'/main'">&#8592;</button>
  <h1>Financial Management</h1>
</div>

<div class="container">
  <!-- Bank Section -->
  <div class="section">
      <h2>Bank Names</h2>
      <button class="create-button"  (click)="openCreateModal('bank')">Create</button>
      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let bank of bankNames">
                  <td>{{ bank.bankNameId }}</td>
                  <td>{{ bank.description }}</td>
                  <td>
                      <button class="edit-button"  (click)="openEditBankModal(bank)">Edit</button>
                  </td>
                  <td>
                    <button class="delete-button"  (click)="confirmDelete(bank.bankNameId)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Account Type Section -->
  <div class="section">
      <h2>Account Types</h2>
      <button class="create-button"  (click)="openATCreateModal('account')">Create</button>
      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let account of accountTypes">
                  <td>{{ account.accountTypeId }}</td>
                  <td>{{ account.description }}</td>
                  <td>
                      <button class="edit-button" (click)="openEditAccountModal(account)">Edit</button>
                  </td>
                  <td>
                    <button class="delete-button" (click)="confirmDeleteAT(account.accountTypeId)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<!-- Create Modal -->
<div *ngIf="showCreateBankModal" class="modal">
  <h2>Create bank name</h2>
  <form [formGroup]="bankForm" (ngSubmit)="saveNew()">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <button type="submit" class="save-button">Save</button>
  </form>
  <button class="close-button" (click)="closeCreateModal()">Close</button>
</div>
<!-- Create Modal -->

<div *ngIf="showCreateAccountModal" class="modal">
  <h2>Create account type</h2>
  <form [formGroup]="accountForm" (ngSubmit)="saveNewAT()">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <button type="submit" class="save-button">Save</button>
  </form>
  <button class="close-button" (click)="closeATCreateModal()">Close</button>
</div>


<!-- Edit bank  Modal -->

<div *ngIf="showEditBankModal" class="modal">
  <h2>Edit Bank</h2>
  <form [formGroup]="editBankForm" (ngSubmit)="saveEditedBank()">
    <label for="id">ID:</label>
    <input id="id" type="text" formControlName="id" readonly>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <button type="submit" class="save-button">Save</button>
  </form>
  <button class="close-button" (click)="closeEditBankModal()">Close</button>
</div>



<!-- Edit Account  Modal -->
 
<div *ngIf="showEditAccountModal" class="modal">
  <h2>Edit Account</h2>
  <form [formGroup]="editAccountForm" (ngSubmit)="saveEditedAccount()">
    <label for="id">ID:</label>
    <input id="id" type="text" formControlName="id" readonly>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <button type="submit" class="save-button">Save</button>
  </form>
  <button class="close-button" (click)="closeEditedAccountModal()">Close</button>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
