<div>
    <button routerLink="/legal-entity">Application</button>
    <button routerLink="/first-applicant">First Applicant</button>
    <button routerLink="/secondapplicant">Second Applicant</button>
    <button routerLink="/consultant">Consultant</button>
    <button routerLink="/consultant-manager">Consultant Manager</button>
    <button routerLink="/administrator">Administration</button>
    <button routerLink="/amplifin-admin">Amplifin Admin</button>
    <button routerLink="/main">Management</button>
    <button routerLink="/login">Login</button>
    <button routerLink="/change-password">Change</button>
    <button routerLink="/sapplication">Sipho</button>
    <button routerLink="/report-management">Report Management</button>
  </div>
  
 