


<table mat-table [dataSource]="documents" class="mat-elevation-z8">

    <!-- Document Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Document Name </th>
      <td mat-cell *matCellDef="let document"> {{document.name}} </td>
    </ng-container>
  
    <!-- Document Link Column -->
    <!-- <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Document </th>
      <td mat-cell *matCellDef="let document">
        <a [href]="document.link" target="_blank">View Document</a>
      </td>
    </ng-container> -->

    <!-- Consultant Approval Column -->
    <ng-container matColumnDef="consultantApproved">
      <th mat-header-cell *matHeaderCellDef> Consultant Approval </th>
      <td mat-cell *matCellDef="let document">
        <mat-checkbox [(ngModel)]="document.consultantApproved"></mat-checkbox>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['name', 'consultantApproved']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name','consultantApproved'];"></tr>
  </table>
  
  <div style="text-align: right; margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="openCalculateDocumentAgeDialog()">Calculate Document Age</button>
    <button mat-raised-button color="primary">Finialise</button>
  </div>

