<div class="page-background"></div>

<div class="back-button-container">
  <button mat-icon-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <button mat-raised-button (click)="openAssist('forgot-password')" style="position: absolute; top: 10px; right: 10px; background-color: #020127; color: white;">
      Help
    </button>
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="forgotPasswordForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Enter a valid Email address" formControlName="email">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block" (click)="requestPasswordReset()">Send</button>
    </form>
  </mat-card>
</div>
