<!-- Background image -->
<div class="page-background"></div>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Two-Factor Authentication</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="login2FAForm" (ngSubmit)="verifyCode()" autocomplete="off">
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Verification Code</mat-label>
          
          <input matInput placeholder="Enter the verification code" formControlName="code">
          <mat-error *ngIf="login2FAForm.get('code')?.hasError('required')">
            Verification code is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Verify</button>
    </form>
  </mat-card>
</div>
