  <!-- Background image -->
  <div class="page-background"></div>

  <div>
    <br><br>
    <br><br>
  </div>
  
  <div class="mat-card login-card">
    <div class="mat-card-content login-card-content">
      <p class="welcome-message">Welcome to Amplifin! Create your new password below.</p>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Create New Password</mat-label>
          <input matInput placeholder="New Password" formControlName="email" />
          <mat-error *ngIf="form.get('email')?.hasError('required')">
            New Password is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter new password</mat-label>
          <input matInput type="password" placeholder="New password again" formControlName="password" />
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" class="login-btn">
            <span class="spinner-border spinner-border-sm me-1"></span>
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
  