<!-- Background image -->
<div class="page-background"></div>
<h1>Welcome To The Report Management</h1>

<div class="application-container">
  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>Adjustable Report</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/adjustable-report">Generate</button>
  </div>

  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>List of Applicants</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/list-of-applicants">Generate</button>
  </div>

  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>List of Applications</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/list-of-applications">Generate</button>
  </div>

  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>List of Documents</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/list-of-documents">Generate</button>
  </div>

  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>List of Employees</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/list-of-employees">Generate</button>
  </div>

  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>List of Products</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/list-of-products">Generate</button>
  </div>

  <div class="application-block card">
    <img src="assets/empty.jpg" alt="Consultant">
    <h2>Managerial Graph</h2>
    <p>Click the button to generate</p>
    <button class="view-button" routerLink="/managerial-graph">Generate</button>
  </div>
</div>
