.verification-card {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 40px;
  }
  .verification-card-header {
    /* background-color: #007bff; */
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 24px;
    padding: 10px;
    text-align: center;
  }
  .verification-card-body {
    padding: 20px;
  }
  .code-input {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    margin: 0 10px;
  }
  .login-btn {
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: rgb(1, 1, 56);
  }
  .info-text {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .brand-heading {
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(1, 1, 39);
  }

  .page-background {
    background-image: url('src/assets/Login..png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }