  <!-- Background image -->
  <div class="page-background"></div>

  <div>
<br><br>
<br><br>
  </div>

<!-- <div class="brand-heading">A M P L I F I N</div> -->
<div class="card verification-card">
  <div class="card-body verification-card-body">
    <p class="info-text">A verification code has been sent to your email,
      please enter the code below
    </p>
    <form>
      <div class="d-flex justify-content-center mb-3">
        <input type="text" maxlength="1" class="form-control code-input" />
        <input type="text" maxlength="1" class="form-control code-input" />
        <input type="text" maxlength="1" class="form-control code-input" />
        <input type="text" maxlength="1" class="form-control code-input" />
      </div>
      <button class="btn btn-primary login-btn" [routerLink]="['/new-password']">Login</button>
    </form>
  </div>
</div>